/* #nav{
    display: none;
}

#part1{
    display: none;
}

#part2{
    display: none;
}

#part3{
  display: none;
}

#part4{
  display: none;
}

#footer{
  display: none;
}

#lastDiv{
  display: none;
}

 */
